*{
    /* background-color: beige; */
}
.heading{
    display: flex;
    position: relative;
    top : 3vh;
    left : 350px;
    justify-content: center;
    align-items: center;
    height : 100px;
    width : 500px;
    background-color: aqua;
    border-radius: 30px;
    border: 2px solid rgb(7, 73, 33);
}
.container{
    display: flex;
    position : relative;
    top : 11vh;
    left : 27vw;
    width : 80vh;
    height : 70vh;
    border: 2px solid rgb(24, 6, 128);
    border-radius: 50px;
    background-color: bisque;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}
.number{
    width : 30vw;
    height: 6vh;
    padding: 10px;
    color :antiquewhite;
}
.generate{
    width : 130px;
    height : 40px;
    color : rgb(2, 12, 2);
    background-color: rgb(129, 129, 196);
}
.answer{
    size : 90px;
    color : brown;
}
