*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.navbar{
    position: sticky;
    display : flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    height : 12vh;
    width: 100vw;
    background-color: black;
    
}
.colors{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width : 45vh;
    height : 8vh;
    padding: 0.5vh;
    border-radius: 2%;
}
.color{
    width : 8vh;
    height : 5vh;
    float : left;
    border-radius: 10%;
}
#red{
    background-color: red;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width : 20vh;
    height : 8vh;
    padding: 0.5vh;
    border-radius: 10%;
}



/* TaskBox */

.modal-cont{
    height: 45vh;
    width: 40vw;
    background-color: burlywood;
    display: flex;
    position: fixed;
    left:30vw;
    top:30vh;
    border: 2px solid black;
    display: none;
}

.textarea-cont{
    height: 100%;
    width: 75%;
    border: none;
    outline: none;
    resize: none;
    font-size: 2rem;
    padding: 2rem;
    border-right: 2px solid black;
}

.priority-color-cont{
    height: 100%;
    width: 25%;
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.priority-color{
    height: 3rem;
    width: 5rem;
}

/* TaskSheet */

.ticket{
    height: 30vh;
    width: 20vw;
    background-color: rgb(50, 223, 223);
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
}
.priority-color{
    top : 0px;
    left : 0px;
    height : 1rem;
    width : 100%;
    background-color: red;
}
.lock{
    position: relative;
    top : 57%;
    left: 92%;
}